<div id="<%= dom_id rings_category %>">
  <p>
    <strong>Rings categories description:</strong>
    <%= rings_category.rings_categories_description %>
  </p>

  <p>
    <strong>Rings categories charactaristics:</strong>
    <%= rings_category.rings_categories_charactaristics %>
  </p>

  <p>
    <strong>Indseminormed:</strong>
    <%= rings_category.indseminormed %>
  </p>

  <p>
    <strong>Indnormed:</strong>
    <%= rings_category.indnormed %>
  </p>

  <p>
    <strong>Indbanach:</strong>
    <%= rings_category.indBanach %>
  </p>

  <p>
    <strong>Monomorphicindseminormed:</strong>
    <%= rings_category.monomorphicindseminormed %>
  </p>

  <p>
    <strong>Monomorphicindnormed:</strong>
    <%= rings_category.monomorphicindnormed %>
  </p>

  <p>
    <strong>Monomorphicindbanach:</strong>
    <%= rings_category.monomorphicindBanach %>
  </p>

  <p>
    <strong>Condensed:</strong>
    <%= rings_category.condensed %>
  </p>

  <p>
    <strong>Clausen scholze analytic 1 more adic style:</strong>
    <%= rings_category.Clausen_Scholze_analytic_1_more_adic_style %>
  </p>

  <p>
    <strong>Clausen scholze analytic 2 more categorical flavor:</strong>
    <%= rings_category.Clausen_Scholze_analytic_2_more_categorical_flavor %>
  </p>

  <p>
    <strong>Adic:</strong>
    <%= rings_category.adic %>
  </p>

  <p>
    <strong>Perfectoid:</strong>
    <%= rings_category.perfectoid %>
  </p>

  <p>
    <strong>Topologies on the rings:</strong>
    <%= rings_category.topologies_on_the_rings %>
  </p>

</div>
