<p style="color: green"><%= notice %></p>

<%= render @grothendieck_sites_category %>

<div>
  <%= link_to "Edit this grothendieck sites category", edit_grothendieck_sites_category_path(@grothendieck_sites_category) %> |
  <%= link_to "Back to grothendieck sites categories", grothendieck_sites_categories_path %>

  <%= button_to "Destroy this grothendieck sites category", @grothendieck_sites_category, method: :delete %>
</div>
