<%= form_with(model: stylish_application) do |form| %>
  <% if stylish_application.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stylish_application.errors.count, "error") %> prohibited this stylish_application from being saved:</h2>

      <ul>
        <% stylish_application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :stylish_applications_title, style: "display: block" %>
    <%= form.text_field :stylish_applications_title %>
  </div>

  <div>
    <%= form.label :stylish_applications_related_authors, style: "display: block" %>
    <%= form.text_field :stylish_applications_related_authors %>
  </div>

  <div>
    <%= form.label :stylish_applications_related_text, style: "display: block" %>
    <%= form.text_field :stylish_applications_related_text %>
  </div>

  <div>
    <%= form.label :stylish_applications_references, style: "display: block" %>
    <%= form.text_field :stylish_applications_references %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
