<div id="<%= dom_id stylish_application %>">
  <p>
    <strong>Stylish applications title:</strong>
    <%= stylish_application.stylish_applications_title %>
  </p>

  <p>
    <strong>Stylish applications related authors:</strong>
    <%= stylish_application.stylish_applications_related_authors %>
  </p>

  <p>
    <strong>Stylish applications related text:</strong>
    <%= stylish_application.stylish_applications_related_text %>
  </p>

  <p>
    <strong>Stylish applications references:</strong>
    <%= stylish_application.stylish_applications_references %>
  </p>

</div>
