<div id="<%= dom_id stacks_as_the_sheaves_category %>">
  <p>
    <strong>Stacks as the sheaves categories description:</strong>
    <%= stacks_as_the_sheaves_category.stacks_as_the_sheaves_categories_description %>
  </p>

  <p>
    <strong>Stacks as the sheaves categories target categories:</strong>
    <%= stacks_as_the_sheaves_category.stacks_as_the_sheaves_categories_target_categories %>
  </p>

  <p>
    <strong>Stacks as the sheaves categories over topologies can be realized:</strong>
    <%= stacks_as_the_sheaves_category.stacks_as_the_sheaves_categories_over_topologies_can_be_realized %>
  </p>

  <p>
    <strong>Sheafification from the prestacks as the presheaves category:</strong>
    <%= stacks_as_the_sheaves_category.sheafification_from_the_prestacks_as_the_presheaves_category %>
  </p>

</div>
