<p style="color: green"><%= notice %></p>

<%= render @stacks_as_the_sheaves_category %>

<div>
  <%= link_to "Edit this stacks as the sheaves category", edit_stacks_as_the_sheaves_category_path(@stacks_as_the_sheaves_category) %> |
  <%= link_to "Back to stacks as the sheaves categories", stacks_as_the_sheaves_categories_path %>

  <%= button_to "Destroy this stacks as the sheaves category", @stacks_as_the_sheaves_category, method: :delete %>
</div>
