<%= form_with(model: learners_note) do |form| %>
  <% if learners_note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(learners_note.errors.count, "error") %> prohibited this learners_note from being saved:</h2>

      <ul>
        <% learners_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :learners_notes_title, style: "display: block" %>
    <%= form.text_field :learners_notes_title %>
  </div>

  <div>
    <%= form.label :learners_notes_date, style: "display: block" %>
    <%= form.text_field :learners_notes_date %>
  </div>

  <div>
    <%= form.label :learners_notes_description, style: "display: block" %>
    <%= form.text_field :learners_notes_description %>
  </div>

  <div>
    <%= form.label :learners_notes_text, style: "display: block" %>
    <%= form.text_field :learners_notes_text %>
  </div>

  <div>
    <%= form.label :learners_notes_more_things_want_to_learn_on_analytic_stacks, style: "display: block" %>
    <%= form.text_field :learners_notes_more_things_want_to_learn_on_analytic_stacks %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
