<div id="<%= dom_id learners_note %>">
  <p>
    <strong>Learners notes title:</strong>
    <%= learners_note.learners_notes_title %>
  </p>

  <p>
    <strong>Learners notes date:</strong>
    <%= learners_note.learners_notes_date %>
  </p>

  <p>
    <strong>Learners notes description:</strong>
    <%= learners_note.learners_notes_description %>
  </p>

  <p>
    <strong>Learners notes text:</strong>
    <%= learners_note.learners_notes_text %>
  </p>

  <p>
    <strong>Learners notes more things want to learn on analytic stacks:</strong>
    <%= learners_note.learners_notes_more_things_want_to_learn_on_analytic_stacks %>
  </p>

</div>
