<p style="color: green"><%= notice %></p>

<%= render @prestacks_as_the_presheaves_category %>

<div>
  <%= link_to "Edit this prestacks as the presheaves category", edit_prestacks_as_the_presheaves_category_path(@prestacks_as_the_presheaves_category) %> |
  <%= link_to "Back to prestacks as the presheaves categories", prestacks_as_the_presheaves_categories_path %>

  <%= button_to "Destroy this prestacks as the presheaves category", @prestacks_as_the_presheaves_category, method: :delete %>
</div>
