<div id="<%= dom_id fundamental_question %>">
  <p>
    <strong>Fundamental questions proposing author:</strong>
    <%= fundamental_question.fundamental_questions_proposing_author %>
  </p>

  <p>
    <strong>Fundamental questions proposing date:</strong>
    <%= fundamental_question.fundamental_questions_proposing_date %>
  </p>

  <p>
    <strong>Fundamental questions proposing text:</strong>
    <%= fundamental_question.fundamental_questions_proposing_text %>
  </p>

  <p>
    <strong>Fundamental questions proposing references:</strong>
    <%= fundamental_question.fundamental_questions_proposing_references %>
  </p>

</div>
