<p style="color: green"><%= notice %></p>

<h1>Fundamental questions</h1>

<div id="fundamental_questions">
  <% @fundamental_questions.each do |fundamental_question| %>
    <%= fundamental_question[0] %>
    <%= fundamental_question[1] %>
    <%= fundamental_question[2] %>
    <%= fundamental_question[3] %>
    <%= fundamental_question[4] %>
    <p>
      <%= link_to "Show this fundamental question", fundamental_question_path(fundamental_question[0]) %>
    </p>
  <% end %>
</div>

<%= link_to "Sorting the Questions by Date", fundamental_questions_path(sortingqueryindicator: true), method: :get %>

<%= link_to "New fundamental question", new_fundamental_question_path %>


