<p style="color: green"><%= notice %></p>

<%= render @fundamental_question %>

<div>
  <%= link_to "Edit this fundamental question", edit_fundamental_question_path(@fundamental_question) %> |
  <%= link_to "Back to fundamental questions", fundamental_questions_path %>

  <%= button_to "Destroy this fundamental question", @fundamental_question, method: :delete %>
</div>
