<p style="color: green"><%= notice %></p>

<%= render @learners_discussion %>

<div>
  <%= link_to "Edit this learners discussion", edit_learners_discussion_path(@learners_discussion) %> |
  <%= link_to "Back to learners discussions", learners_discussions_path %>

  <%= button_to "Destroy this learners discussion", @learners_discussion, method: :delete %>
</div>
