<!DOCTYPE html>
<html>
  <head>
    <title>Softwaredevelopmentprojectoveranalyticstacksdatabaseinterface</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %> <br/>
  </body>


  <%= link_to 'Learners Notes Page', learners_notes_path %> <br/>
  <%= link_to 'Stylish Applications Page', stylish_applications_path %> <br/>
  <%= link_to 'References Page', references_path %>  <br/>
  <%= link_to 'Learners Discussion Page', learners_discussions_path %>  <br/>
  <%= link_to 'Fundamental Questions Page', fundamental_questions_path %>  <br/>
  <%= link_to 'Rings Category Page', rings_categories_path %>  <br/>
  <%= link_to 'Grothendieck Sites Page', grothendieck_sites_categories_path %>  <br/>
  <%= link_to 'Prestacks as The Presheaves Categories Page', prestacks_as_the_presheaves_categories_path %>  <br/>
  <%= link_to 'Stacks as The Sheaves Categories Page and Entry Page', stacks_as_the_sheaves_categories_path %>  <br/>

  <% if reader_signed_in? %>
  <%= link_to 'The Link for Log Out', delete_current_reader_session_path %> <br/>
  <% else %>
  <%= link_to 'The Link for Log In Page', create_a_reader_session_path %> <br/>
  <% end %>




  <h2>
  References
  </h2>

  <div>
  |1| Deligne, Pierre, and David Mumford. "The irreducibility of the space of curves of given genus." Publications Mathématiques de l'IHÉS 36 (1969): 75-109. <br/>

  |2| Giraud, Jean. "Cohomologie non abélienne." Grundlehren der mathematischen Wissenschaften (1971). Vol 179. <br/>

  |3| Grothendieck, Alexander. "Technique de descente et théorèmes d'existence en géométrie algébrique. I. Généralités. Descente par morphismes fidèlement plats." Séminaire Bourbaki 5 (1959): 299-327. <br/>

  |4| Artin, Michael. "Versal deformations and algebraic stacks." Inventiones mathematicae 27, no. 3 (1974): 165-189. <br/>

  |5| Dustin Clausen, and Peter Scholze. "Lectures on Condensed Mathematics." Https://www.math.uni-bonn.de/people/scholze/Condensed.pdf. <br/>

  |6| Dustin Clausen, and Peter Scholze. "Lectures on Analytic Geometry." Https://www.math.uni-bonn.de/people/scholze/Analytic.pdf. <br/>

  |7| Dustin Clausen, and Peter Scholze. "Analytic Stacks." Https://people.mpim-bonn.mpg.de/scholze/AnalyticStacks.html. <br/>

  |8| Bambozzi, Federico, Oren Ben-Bassat, and Kobi Kremnizer. "Analytic geometry over F1 and the Fargues-Fontaine curve." Advances in Mathematics 356 (2019): 106815. <br/>

  |9| Scholze, Peter. "Étale cohomology of diamonds." arXiv preprint arXiv:1709.07343 (2017). <br/>

  |10| Scholze, Peter. "Perfectoid spaces." Publications mathématiques de l'IHÉS 116, no. 1 (2012): 245-313. <br/>

  |11| Xin Tong. "p-adic Motives over Infinite-Analytic Toposes and Infinite-Analytic Stacks." version 2023.  <br/>

  |12| Toën, Bertrand, and Gabriele Vezzosi. "Homotopical algebraic geometry I: Topos theory." Advances in mathematics 193, no. 2 (2005): 257-372.<br/>

  |13| Toën, Bertrand, and Gabriele Vezzosi. "Homotopical algebraic geometry. II. Geometric stacks and applications." Memoirs of the American Mathematical Society 193, no. 902 (2008). <br/>

  |14| Lurie, Jacob. Higher topos theory. Princeton University Press, 2009.<br/>

  |15| Jacob Lurie. Spectral Algebraic Geometry. Https://www.math.ias.edu/~lurie/papers/SAG-rootfile.pdf.<br/>

  |16| Kedlaya, K. S., and R. Liu. "Relative p-adic hodge theory: Foundations." Astérisque 2015, no. 371 (2015): 1-245.<br/>

  |17| Kedlaya, Kiran S., and Ruochuan Liu. "Relative p-adic Hodge theory, II: Imperfect period rings." arXiv preprint arXiv:1602.06899 (2016). <br/>

  |18| Huber, Roland. "A generalization of formal schemes and rigid analytic varieties." Mathematische Zeitschrift 217 (1994): 513-551.<br/>

  |19| Huber, Roland. "Continuous valuations." Math. Z 212, no. 3 (1993): 455-477. <br/> 
  </div>
  





</html>
